* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'montseratt', sans-serif;
  background-image: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-color: rgb(127, 200, 218);
  background-blend-mode:luminosity;
  background-repeat: no-repeat;
  background-size: cover;
}


.app.warm {
  background-image: url('./asset/warm-bg.jpg');
}


.app {
  background-image: url('./asset/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
  width: 411px;
  height: 100vh;
  margin: 0 auto;
}



main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(0,0,0, 0.75));
  padding: calc(1.5em + 1em/16)
}

.search-box {
  width: 100%;
  margin: 0 auto calc(5em - 5*(1em/16))
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: calc(1em - (1em/16));

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255, 0.5);
  border-radius: 0 0 1em 1em;
  margin-top: -1.85em;

  box-shadow: 0 5px rgba(0,0,0, 0.2);
  color: #313131;
  font-size: 1.25em;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255,255,255, 0.75);
}

.location-box> .location {
  color: #fff;
  font-size : 2em;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 50, 0.5);
}

.location-box .date {
  color: #fff;
  font-size : 1.25em;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px rgba(255,255,255, 0.5);
}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 2rem auto;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 1rem;

  padding: 1rem 1.5rem;

  color: #fff;
  font-size: 6rem;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.weather-box .weather{
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

